<h1>Listing ocorrences</h1>

<table>
  <thead>
    <tr>
      <th>Tipo ocorrencia</th>
      <th>Descricao</th>
      <th>Nome vitima</th>
      <th>Endereco</th>
      <th>Nome contato</th>
      <th>Tel contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ocorrences.each do |ocorrence| %>
      <tr>
        <td><%= ocorrence.tipo_ocorrencia %></td>
        <td><%= ocorrence.descricao %></td>
        <td><%= ocorrence.nome_vitima %></td>
        <td><%= ocorrence.endereco %></td>
        <td><%= ocorrence.nome_contato %></td>
        <td><%= ocorrence.tel_contato %></td>
        <td><%= link_to 'Show', ocorrence %></td>
        <td><%= link_to 'Edit', edit_ocorrence_path(ocorrence) %></td>
        <td><%= link_to 'Destroy', ocorrence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ocorrence', new_ocorrence_path %>
