<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo ocorrencia:</strong>
  <%= @ocorrence.tipo_ocorrencia %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @ocorrence.descricao %>
</p>

<p>
  <strong>Nome vitima:</strong>
  <%= @ocorrence.nome_vitima %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @ocorrence.endereco %>
</p>

<p>
  <strong>Nome contato:</strong>
  <%= @ocorrence.nome_contato %>
</p>

<p>
  <strong>Tel contato:</strong>
  <%= @ocorrence.tel_contato %>
</p>

<%= link_to 'Edit', edit_ocorrence_path(@ocorrence) %> |
<%= link_to 'Back', ocorrences_path %>
