<div class="page-header">
  <%= link_to new_ocorrencia_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova Denúncia
  <% end %>
  <h3>Ocorrências Cadastradas</h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tipo ocorrência</th>
            <th>Descrição da ocorrência</th>
            <th>Nome da vítima</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Nome p/ contato</th>
            <th>Tel. p/ contato</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ocorrencias) do |ocorrencia| %>
            <td><%= ocorrencia.tipo_ocorrencia %></td>
            <td><%= ocorrencia.descricao %></td>
            <td><%= ocorrencia.nome_vitima %></td>
            <td><%= ocorrencia.logradouro %></td>
            <td><%= ocorrencia.bairro %></td>
            <td><%= ocorrencia.cidade %></td>
            <td><%= ocorrencia.estado %></td>
            <td><%= ocorrencia.nome_contato %></td>
            <td><%= formata_telefone(ocorrencia.telefone_contato) %></td>
            <td><%= link_to 'Exibir', ocorrencia %></td>
        <td><%= link_to 'Editar', edit_ocorrencia_path(ocorrencia) %></td>
        <td><%= link_to 'Apagar', ocorrencia, method: :delete, data: { confirm: 'Tem certeza de que deseja excluir?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
