<div class="page-header">
  <%= link_to ocorrencias_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_ocorrencia_path(@ocorrencia), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h3>Exibir Ocorrência</h3>
</div>

<dl class="dl-horizontal">
  <dt>Tipo da Ocorrência:</dt>
  <dd><%= @ocorrencia.tipo_ocorrencia %></dd>

  <dt>Descrição:</dt>
  <dd><%= @ocorrencia.descricao %></dd>

  <dt>Nome da Vítima:</dt>
  <dd><%= @ocorrencia.nome_vitima %></dd>

  <dt>Logradouro:</dt>
  <dd><%= @ocorrencia.logradouro %></dd>

  <dt>Bairro:</dt>
  <dd><%= @ocorrencia.bairro %></dd>

  <dt>Cidade:</dt>
  <dd><%= @ocorrencia.cidade %></dd>

  <dt>Estado:</dt>
  <dd><%= @ocorrencia.estado %></dd>

  <dt>Nome do Contato:</dt>
  <dd><%= @ocorrencia.nome_contato %></dd>

  <dt>Telefone para Contato:</dt>
  <dd><%= @ocorrencia.telefone_contato %></dd>

</dl>
