<div class="page-header">
  <%= link_to ocorrencias_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_ocorrencia_path(@ocorrencia), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h3>Exibir Ocorrência</h3>
</div>

<dl class="dl-horizontal">
  <dt>Tipo ocorrencia:</dt>
  <dd><%= @ocorrencia.tipo_ocorrencia %></dd>

  <dt>Descricao:</dt>
  <dd><%= @ocorrencia.descricao %></dd>

  <dt>Nome vitima:</dt>
  <dd><%= @ocorrencia.nome_vitima %></dd>

  <dt>Logradouro:</dt>
  <dd><%= @ocorrencia.logradouro %></dd>

  <dt>Bairro:</dt>
  <dd><%= @ocorrencia.bairro %></dd>

  <dt>Cidade:</dt>
  <dd><%= @ocorrencia.cidade %></dd>

  <dt>Estado:</dt>
  <dd><%= @ocorrencia.estado %></dd>

  <dt>Nome contato:</dt>
  <dd><%= @ocorrencia.nome_contato %></dd>

  <dt>Telefone contato:</dt>
  <dd><%= @ocorrencia.telefone_contato %></dd>

</dl>
